<app-home-section title="Events" [theme]="theme">
  <ul class="section-events__list">
    <li class="section-events__list-item">
        <img class="section-events__list-image">
        <span class="section-events__list-date">
            <b>26</b>Julho
        </span>
        <h4 class="section-events__list-title">Evento dia 1</h4>
        <p class="section-events__list-text">sobre o evento</p>
        <a class="section-events__list-button" href="#">Compartilhar</a> 
    </li>
  </ul>
</app-home-section>



