
  <app-home-section title="Sobre">
    <p class="section-about__text">
      Prepare-se para bombar seu feed com o Co.Vill Bar Poker Club, o bar temático que vai te
      transportar para o mundo dos vilões! Ambientes instagramáveis te esperam para você arrasar
      nas selfies e stories. Cada canto é um cenário único, pronto para você registrar momentos
      inesquecíveis.
    </p>
    <p class="section-about__text">
      E para os fãs de poker, temos um espaço dedicado com mesas e torneios para você se divertir
      e testar suas habilidades.
    </p>

    <ul class="section-about__social-list">
      <li class="section-about__social-list-item">
        <a class="section-about__social-list-link" href="#"></a>
      </li>
      <li class="section-about__social-list-item">
        <a class="section-about__social-list-link" href="#"></a>
      </li>
      <li class="section-about__social-list-item">
        <a class="section-about__social-list-link" href="#"></a>
      </li>
    </ul>
  </app-home-section>

